<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--spring mvc的配置文件-->
    <!--这个是子容器，我们只用来扫描controller，因为子容器可以访问父容器里面的东西，反之父容器不可以访问子容器-->
    <context:component-scan base-package="org.javaboy" use-default-filters="false">
        <!--这里我们不使用默认的过滤器，但是controller除外-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--名称空间 mvc 开启drivern-->
    <mvc:annotation-driven/>

</beans>
